<a href="https://colab.research.google.com/github/vipinbhagat123/PW-ASSIGNMENTS/blob/main/Assignment_2_Pw.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **ASSIGNMENT 2**

1). Write a program to accept percentage from the user and display the gradee according to the following criteria?

Ans:

In [ ]:
marks=int(input())
if marks>90:
  print("A")
elif marks>80 and marks<=90:
  print("B")
elif marks>=60 and marks<=80:
  print("C")
else:
  print("D")

90
B

2). Write a program to accept the cost price of a bike and display the road tax to be paid according to the following criteria:

Ans:

In [ ]:
price=int(input())
if price >100000:
  print("15%")
elif price>50000 and price<=100000:
  print("10%")
else:
  print("5%")

1000
5%

3). Accept any city form the user and display monuments of that city.

Ans:

In [ ]:
city=str(input())
if city=="Delhi":
  print("Red Fort")
elif city=="Agra":
  print("Taj Mahal")
elif city=="Jaipur":
  print("Jal Mahal")
else:
  print("Enter a valid city")

Agra
Taj Mahal

4). Check how many times a given number can be divided by 3 before it is less than or equal to 10?

In [ ]:
i=1
n=10
while(i<=n):
  n=n/3
  i=i+1
print(n)

1.1111111111111112

5). Why and when to use while loop in python give a detailed description with example

Ans:

Python while loop is used to run a block code until a certain condition is met. Here, A while loop evaluates the condition. If the condition evaluates to True , the code inside the while loop is executed.

Example:

In [ ]:
#printing a table
n=int(input())
i=1
while(i<=10):
  result=n*i
  print(n, "*", i, "=", result)
  i=i+1

5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [9]:
n=int(input())
i=1
while i<=n:
    j=n
    while j>=i:
        print("*", end=" ")
        j=j-1
    print( )
    i=i+1

5
* * * * *
* * * *
* * *
* *
*

In [10]:
n=int(input())
i=1
while(i<=n):
  j=1
  while(j<=i):
    print("*", end=" ")
    j=j+1
  print()
  i=i+1

5
*
* *
* * *
* * * *
* * * * *

In [11]:
n = int(input('Enter number of rows : '))
 
k = 1
i = 1
while i <= n :
    j = 1
    while j <= i:
        print("{:3d}".format(k), end = " ")
        j += 1
        k += 1
    print()
    i += 1

Enter number of rows : 5
  1
  2   3
  4   5   6
  7   8   9  10
 11  12  13  14  15

7). Reverse a while loop to display numbers from 10 to 1

Ans:

In [13]:
n=10
i=1
while(i<=n):
    print(n)
    n=n-1

10
9
8
7
6
5
4
3
2
1

8). Reverse a while loop to display numbers from 10 to 1

In [14]:
n=10
i=1
while(i<=n):
  print(n)
  n=n-1

10
9
8
7
6
5
4
3
2
1