<a href="https://colab.research.google.com/github/vipinbhagat123/PW-ASSIGNMENTS/blob/main/Assignment_N0_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **ASSIGNMENT NO 05**

### 1. Create a python program to sort the given list of tuples based on integer value using a lambda function

In [1]:
s=[('sachin Tendulkar', 3458), ('Ricky ponting', 27483), ('jack kalias', 25534), ('virat kohli', 25345)]
s.sort(key=lambda x: x[1])
s

[('sachin Tendulkar', 3458),
 ('virat kohli', 25345),
 ('jack kalias', 25534),
 ('Ricky ponting', 27483)]

**2. Write a Python program to find the squares of all the numbers in the given list of integers using lambda and map functions.**

In [24]:
l=[1,2,3,4,5,6,7,8,9,10]
s=list(map(lambda x: x**2, l))
s

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**3. Write a python program to convert the given list of integers into a tuple of strings. Use map and lambda functions.**

In [33]:
l=[1,2,3,4,5,6,7,8,9,10]
s=tuple(map(lambda x: str(x), l ))
s

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

**4. Write a python program using reduce function to compute the product of a list containing numbers from 1 to 25**

In [44]:
from functools import reduce
x=list(range(1,25))
y=reduce(lambda a, b: a*b, x)
y

620448401733239439360000

**5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the filter function.**

In [1]:
j=[2,3,6,9,27,60,90,120,55, 46]
a=list(filter(lambda z: z%2==0 or z%3==0, j))
a

[2, 3, 6, 9, 27, 60, 90, 120, 46]

**6. Write a python program to find palindromes in the given list of strings using lambda and filter function.**

In [4]:
l=["python", "php", "aba", "radar", "level"]
result=list(filter(lambda x: x==x[::-1], l))
result

['php', 'aba', 'radar', 'level']