<a href="https://colab.research.google.com/github/vipinbhagat123/PW-ASSIGNMENTS/blob/main/pandas_basic_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

**Q1. Create a Pandas Series that contains the following data: 4,8,15,16,23,42. Then print the series.**
```

In [6]:
df = pd.Series([4,8,15,16,23,42])
df

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

**Q2. Create a variable of list type containing 10 elements in it , amnd apply pandas.series function on the variable print it.**

In [8]:
b=["apple", "banana", "chikoo", "dragongfruit", "Elaichi", "fruit", "grapes", "honey berries", "ice apple", "jammun"]
df1=pd.Series(b)
df1

0            apple
1           banana
2           chikoo
3     dragongfruit
4          Elaichi
5            fruit
6           grapes
7    honey berries
8        ice apple
9           jammun
dtype: object

**Q3. Create a Pandas DataFrame that contains the following data:**

In [19]:
data ={'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27], 'Gender':['Female', 'Male', 'Female']}
e=pd.DataFrame(data)
print(e)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

**Q4. What is 'DataFrame' is pandas and how is it different from pandas.Series? Explain with an example**

Ans: A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

A Pandas Series is a 1D array of data, but a single-column DataFrame is a 2D table with one column.

**Q5. What are some common functions you can use to manipulate data in a pandas Dataframe? Can you give an example of when you might use one of these functions?**

Ans: There are so many Functions such as read_csv(), Head and Tail function = df.head(),df.tail(),shape-size-info  function= df.shape, df.size, isna function= df.isna(), Describe function = df.describe(), Nununique function =df.Nununique(), value_counts function = df.value_counts(), columns function = df.columns,

**Q6. Which of the following is mutable in nature Series, Dataframe, Panel?**

Ans = Series: Series objects in Pandas are mutable, meaning you can change the values of elements within a Series after it has been created. You can assign new values to specific elements using indexing.

DataFrame: DataFrames are also mutable. You can modify the data within a DataFrame, such as changing values in cells, adding or removing rows or columns, and more.

Panel: Panels were used in earlier versions of Pandas to handle 3D data, but they have been removed in recent versions (Pandas 0.25.0 onwards) because they were rarely used and less versatile than DataFrames. Therefore, Panels are not relevant in more recent versions of Pandas, and you should use DataFrames and Series for data manipulation.

Keep in mind that software libraries like Pandas can evolve over time, so it's essential to check the documentation and the specific version you are using for the most up-to-date information regarding mutability and other features.

**Q7. Create a DataFrame using multiple Series. Explain with an example.**

Ans =
To create a DataFrame using multiple Series in Python with Pandas, you can use the pd.DataFrame() constructor, where you pass a dictionary of Series objects. Each Series will become a column in the DataFrame. Here's an example:

import pandas as pd

# Create multiple Series
series1 = pd.Series([1, 2, 3, 4], name='Column1')
series2 = pd.Series(['A', 'B', 'C', 'D'], name='Column2')
series3 = pd.Series([10.1, 20.2, 30.3, 40.4], name='Column3')

# Create a DataFrame by combining the Series
data = {'Column1': series1, 'Column2': series2, 'Column3': series3}
df = pd.DataFrame(data)

# Display the DataFrame
print(df)



In this example:

We import the Pandas library as pd.

We create three Series objects: series1, series2, and series3. Each Series represents a column of data.

We create a dictionary called data, where the keys are the column names, and the values are the Series objects.

We use the pd.DataFrame() constructor to create a DataFrame df by passing the data dictionary. This results in a DataFrame where each Series becomes a column, and the keys of the dictionary become the column names.

Finally, we print the DataFrame, and you will see the following output:

   Column1 Column2  Column3
0        1       A     10.1
1        2       B     20.2
2        3       C     30.3
3        4       D     40.4


So, you've successfully created a DataFrame using multiple Series, with each Series representing a different column of data.